/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: transparent;
}

.container::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  background:#f2f2f2 url("image/bg.jpeg") no-repeat ;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.logo img {
  width: 100px;
  height: 100px;
}

.name h1 {
  font-size: 24px;
  margin: 10px 0;
  text-align: center;
}

/* h2{
  font-family: 'Archivo Black', sans-serif;
   
} */

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  margin: 5px 0;
  text-decoration: none;
  color: #ffffff;
  background-color: #2f524e;
  border-radius: 5px;
  min-width: 250px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.button span{
  vertical-align: middle;
  
}

.button:hover {
  background-color: black;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin: 0 10px;
}

img.icon {
  width: 30px;
  height: 30px;
}
